
Sudoku/Debug/

packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/

packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/

.vs/Sudoku/v16/

Debug/

Sudoku.sln

Sudoku/packages.config

Sudoku/Sudoku.vcxproj.user

Sudoku/Sudoku.vcxproj
